/* Shared Styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
/* dark 02 */
.text-grey{
    color: #424242;
}
/* dark 03 */
.text-light-grey{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    /* width: 180px; */
    /* height: 64px; */
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px 25px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* header Styles */

/* navbar Styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

/* banner related styles */

.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-image{
    width: 100%;
}

/* team and feature related styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}
/* feature related styles */
.features{
    max-width: 1920px;
    gap: 146px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.feautre-title{
    color: #131313;
    font-size: 2.81rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-description-title{
    font-weight: 600;
    font-size: 1.25rem;
}
.feature-card{
    border-radius: 8px;
    padding: 30px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -77px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
#experience-badge span {
    display: block;
}
















/* some facts related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 125px;
    margin: 50px auto;
    justify-items: center; */
}
.fact-card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}

/* Sponsor related Styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 9.68rem;
}
.sponsor-companies > img{
    filter: grayscale(100%);
}

/* footer styles */
footer{
    border-radius: 8px;
    background: #FFF4E7;
    max-width: 1440px;
    margin: 100px auto;
    text-align: center;
    padding: 40px;
}
.footer-description{
    font-size: 1.25rem;
    font-weight: 400;
}















/* ---------responsive media query---------*/
/* small device */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams, .features{
        flex-direction: column;
    }
    .team-img-container, .facts-container, .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .facts-container, .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }
    .feature-image img{
    width: 100%;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}
/* medium device */
@media  screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .features{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 24px;
    }
    .some-facts{
        margin-left: 20px;
    }
    .sponsor-companies{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 20px;
    }
    .feature-image img{
    width: 100%;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}